vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|21 Nov 2011 14:55:00 -0000
vti_extenderversion:SR|12.0.0.6413
vti_backlinkinfo:VX|marathon/2012/InstructionEn.html marathon/2012/indexEn.html marathon/2012/courseEn.html marathon/2012/InfoEn.html marathon/2012/RegFormEn.html
vti_author:SR|GBTAIPEI\\administrator
vti_modifiedby:SR|GBTAIPEI\\administrator
vti_timecreated:TR|21 Nov 2011 14:55:00 -0000
vti_cacheddtm:TX|21 Nov 2011 14:55:00 -0000
vti_filesize:IR|8087
vti_cachedlinkinfo:VX|S|quote.gif S|button-bg.jpg S|content.jpg S|headerEn.jpg S|menuEn.jpg S|square-green.png S|bullet.gif S|clock.gif S|comment.gif S|page.gif S|dots.jpg S|dots.jpg S|footer.jpg
vti_cachedsvcrellinks:VX|FSUS|marathon/2012/images/quote.gif FSUS|marathon/2012/images/button-bg.jpg FSUS|marathon/2012/images/content.jpg FSUS|marathon/2012/images/headerEn.jpg FSUS|marathon/2012/images/menuEn.jpg FSUS|marathon/2012/images/square-green.png FSUS|marathon/2012/images/bullet.gif FSUS|marathon/2012/images/clock.gif FSUS|marathon/2012/images/comment.gif FSUS|marathon/2012/images/page.gif FSUS|marathon/2012/images/dots.jpg FSUS|marathon/2012/images/dots.jpg FSUS|marathon/2012/images/footer.jpg
